<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css') }}">
    <title>Home</title>
</head>

<body>
    <!-- <a href="{{ url_for('login') }}">Login Page</a><br>
    <a href="{{ url_for('register') }}">Register Page</a><br> -->

    <!-- CONTAINER -->
    <div class="container">
        <div class="container_element">

            <div class="one">
                <!-- <img src="" alt=""> -->
                <p>Crypto Traders</p>
                <div class="one_nav">
                    <a href=""><p>Home</p></a>
                    <a href=""><p>Our company</p></a>
                    <a href=""><p>Plan</p></a>
                    <a href=""><p>Legal</p></a>
                    <a href=""><p>About</p></a>
                    <a href="{{ url_for('login') }}"><p>Log in</p></a>
                    <a href="{{ url_for('register') }}"><p>Register</p></a>
                </div>
            </div>


            <div class="get_started">
                <div class="get_started_one">
                    <p class="explore">Explore Solutions</p>
                    <P class="explore_next">From banking and insurance to wealth management and securities distribution, we dedicated financial services, the team serve all major sectors</P>
                </div>
                
                <div class="get_started_two">
                    <a href="{{ url_for('register') }}"><button>GET STARTED</button></a>
                </div>
            </div>


            <div class="two">
                <div class="two_element">
                    <img src="" alt="">
                    <p>Cryptocurrency Trading</p>
                </div>
                <div class="two_element">
                    <img src="" alt="">
                    <p>Forex Trading</p>
                </div>
                <div class="two_element">
                    <img src="" alt="">
                    <p>Real Estate Investing</p>
                </div>
                <div class="two_element">
                    <img src="" alt="">
                    <p>Stocks</p>
                </div>
            </div>

            <div class="trading_plans">
                <div class="trading_plans_one">

                </div>
            </div>

            <div class="profit_graph">
                <div class="profit_graph_one">
                    <p>PROFIT GRAPH</p>
                </div>
                <div class="profit_graph_two">
                    <p>Crypto Traders gives you the best Financial solution.</p>
                </div>
                <div class="profit_graph_three">
                    <img src="" alt="">
                    <div>
                        <p class="profit_graph_title">Security:</p>
                        <p class="profit_graph_title_next">we offer protection when your customers have financial.</p>
                    </div>
                </div>

                <div class="profit_graph_three">
                    <img src="" alt="">
                    <div>
                        <p class="profit_graph_title">Flexibility:</p>
                        <p class="profit_graph_title_next">Funding grows in line with your daily sales update.</p>
                    </div>
                </div>
            </div>

            <div class="contact_us">
                <div class="contact_us_one">
                    <p>CONTACT US</p>
                </div>
                <div class="contact_us_two">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </div>  

            <div class="about_us">
                <div class="about_us_one">
                    <p class="about_us_one_next">ABOUT US</p>
                    <p class="about_us_next">Learn About Us</p>
                    <p class="about_us_next_next">If your looking for a well-regulated and safe Forex Broker with potimal trading conditions, ratedtraders is the best for you, with our quality services we have become an established player in the massive Forex Industry (Trade) and we have been able to earn the trust of thousands of traders all over the world</p>
                </div>
                <div class="about_company_three">
                    <img src="" alt="">
                    <p>Unit 11, Iron House 3 Bridge Approach, Unit 11, Iron Bridge House, London, England, NW18BD</p>
                </div>
            </div>

            <div class="last_black">
                <div class="last">
                    <div class="last_one">
                        <div class="our_company_list">
                            <div>
                                <p>Home</p>
                                <p>About Company</p>
                            </div>
                            <div>
                                <p>Create Account</p>
                                <p>Log in</p>
                            </div>
                            <div>
                                <p>Investment Plans</p>
                                <p>Privacy Policy</p>
                                <p>Contact us</p>
                            </div>
                        </div>
                    </div>
                    <div class="last_two">
                        <p></p>
                    </div>
                    <div class="last_three">
                        <p>@2023, Crypto Traders, All Rights Reserved.</p>
                    </div>
                </div>
            </div>
           
        </div>
    </div>

</body>

</html>